@{
    ViewBag.Title = "Meals";
}

<h1 class="text-center">Meals</h1>






@*@foreach(var item in Model.hints)
    {
        <ul class="text-center">
            <li><img style="width:400px;" src="@item.food.image" alt="Meal Image" /></li>
            <li>Category : @item.food.category</li>
            <li>Contents Label : @item.food.foodContentsLabel</li>
            <li>@item.food.label</li>
            <li>@item.food.nutrients</li>
            <li>@item.food.servingsPerContainer</li>
            <li><a href="@item.food.uri" target="_blank">Link to meal</a></li>
        </ul>
            <hr />
    }*@

